<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>714760184919-0ijkdmt6dc7ifup3fhc68eo7bbi4t78l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.714760184919-0ijkdmt6dc7ifup3fhc68eo7bbi4t78l</string>
	<key>API_KEY</key>
	<string>AIzaSyA80JyyI0F3slzXp0cdbvLFi5L33Oi7hgA</string>
	<key>GCM_SENDER_ID</key>
	<string>714760184919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Enes-Aksoy.Loodos</string>
	<key>PROJECT_ID</key>
	<string>loodos-ba646</string>
	<key>STORAGE_BUCKET</key>
	<string>loodos-ba646.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:714760184919:ios:ec64849116ee020d962f12</string>
</dict>
</plist>